*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.First_Section{
    background-color: #1F2937;
    color: white;
}

.Navbar{
    display: flex;
    flex: auto;
    padding-top: 20px;
}

.Left,.Right{
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    flex:auto;
    gap: 50px;
    list-style-type: none;
}

.Heading{
    font-size: 48px;
    font-weight: bolder;
    padding-left: 50px;
}

.para1{
    font-size: 18px;
    text-align: left;
    padding-left: 63px;
    padding-top: 5px;
}

img{
    width: 400px;
}

.body{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
}

.body-left, .body-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.signup{
    background-color: #3882F6;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: -390px;
}

.SM{
    width: 150px;
    border-radius: 20px;
}

.Second_Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.ImagePart{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 40px
}

.heading{
    font-size: 36px;
    font-weight: bolder;
}

.Tobey, .Andrew, .Tom, .Miles{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
}

.t1{
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

.Third_Section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
}

.Quote{
    display: flex;
    flex-direction: column;
    width: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Para{
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
}

.by{
    font-size: 15px;
    padding-left: 500px;
}